<ion-view view-title="Agenda" >
  <ion-content on-swipe-left="goToSchedule()">
    <ul class="list">
      <li class="item" data-ng-repeat="item in agendaItems" ui-sref="tab.agenda-item({id: item.id})">
          <a>
            <span>{{item.startTime}} - </span>
            <span data-ng-if="item.sessions.length === 1">{{item.sessions[0].title}}</span>
            <span data-ng-if="item.sessions.length > 1">Multiple Tracks</span>
          </a>
      </li>
    </ul>
  </ion-content>
</ion-view>
