<ion-view view-title="{{::agendaItem.startTime}}">
  <ion-content>
	<div class="card" data-ng-repeat="session in ::agendaItem.sessions">
		<div class="item item-divider item-text-wrap">
			<h2>{{::session.title}}</h2>
			<h3 data-ng-if="::session.subTitle">{{::session.subTitle}}</h3>
		</div>
		<div class="item item-text-wrap">
			<div data-ng-if="::session.speaker">
				<span><h3>Speaker(s)</h3></span>
				<span><p> {{session.speaker}}</p></span>
			</div>
		</div>
		<div>
			<ion-toggle ng-model="session.attending" data-ng-change="updateSessionAttendance(session)" toggle-class="toggle-balanced">Attending</ion-toggle>
		</div>
		<div class="item">
			<p>Your session rating (annoymous)</p>
			<div>
				<rating class="pull-left" data-ng-model="session.rating" max="5" data-ng-change="updateSessionRating(session)"></rating>
				<i class="pull-right clear-rating icon ion-close" data-ng-click="clearRating(session)"></i>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
