<ion-view view-title="My Schedule">
  <ion-content on-swipe-right="goToAgenda()">
    <ion-list can-swipe="true">
      <ion-item
        data-ng-repeat="session in userSchedule"
        data-ng-if="session.attending"
        ui-sref="tab.schedule-item({id: session.sessionId})"
      >
          <a>
            <span>{{session.time}} - </span>
            <span>{{session.title}}</span>
          </a>
           <ion-option-button class="button-assertive"
                       ng-click="unattend(session)">
              Unattend
            </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
