<!--
  The nav bar that will be updated as we navigate between views.
-->
<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>

<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Agenda" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/agenda">
    <ion-nav-view name="tab-agenda"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="My Schedule" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/schedule">
    <ion-nav-view name="tab-schedule"></ion-nav-view>
  </ion-tab>

</ion-tabs>
