/* Empty. Add your own CSS if you like */
.tabs-striped .tab-item {
    margin-top: 1px;
    font-size: 12px;
}

.tabs-striped .tab-item.tab-item-active,
.tabs-striped > .tabs
{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.clear-rating {
	font-size: 25px;
	padding-top: 4px;
}